.blog-post-container {
    margin: 4em;
    h2, h3 .date {
        font-family: monospace;
    }
    p {
        font-family: sans-serif;
    }
}

// .date {
//     font-family: monospace;
//     font-size: 1em;
// }