.footer {
    background: #272727;
    margin-bottom: 0;
    color: #FAFAFA;
    padding: .5em 4em 1em;
    a {
        text-decoration: none;
        color: #FAFAFA;
        padding: .5em 3em 1em;
    }
    div {
        display: flex;
    }
}