.about-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: #fafafa;
  padding-bottom: 3em;
  .row {
    display: inline;
    display: flex;
  }
  .icon {
    margin: 2em 1em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .icon[tooltip] {
    position: relative;
  }
  .icon[tooltip]::before {
    content: attr(tooltip);
    position: absolute;
    margin-top: 20px;
    background: #555;
    color: white;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 100;
    padding: 0.3em;
    border-radius: 0.5em;
    transform: scale(0) translateY(20px);
    transition: transform ease-out 150ms, bottom ease-out 150ms;
  }
  .icon[tooltip]:hover::before {
    transform: scale(1) translateY(40px);
  }
}

.react-icon {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
